<%- include('./includes/header') -%>
  </head>
  <body>
    <header>
      <nav>
        <h1 id="brand">Relax</h1>
      </nav>
    </header>

    <div class="main-container">
      <div class="o4">
        <h1>404</h1>
        <p>Page Not Found.</p>
      </div>

      <div class="copyright-info">
        <p>ⓒ 2022 noberto,Inc. All rights reserved</p>
      </div>
    </div>
  </body>
</html>
