<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relax</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1 id="brand">Relax</h1>
        <ul class="links">
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>

    <div class="main-container">
      <div class="o4">
        <h1>404</h1>
        <p>Page Not Found.</p>
      </div>

      <div class="copyright-info">
        <p>ⓒ 2022 noberto,Inc. All rights reserved</p>
      </div>
    </div>
  </body>
</html>
