<%- include('./includes/header') -%>
</head>
<body>
  <header>
    <nav>
      <h1 id="brand">Relax</h1>
    </nav>
  </header>

  <div class="main-container">
    <div class="o5">
      <h1>Sorry, an issue occured while processing the current task.</h1>
      <p>
        The issue will be resolved soon! You are free to keep exploring other
        features in our site.<br /><em>Thank You!</em>
      </p>
      <a href="/">Back to home</a>
    </div>

    <div class="copyright-info">
      <p>ⓒ 2022 noberto,Inc. All rights reserved</p>
    </div>
  </div>
</body>
</html>
