<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relax</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1 id="brand">Relax</h1>
      </nav>
    </header>

    <div class="main-container">
      <div class="form-container">
        <form action="/login" class="form-style" method="post">
          <p class="top-right">
            Not a member? <a href="/sign-up">Sign up now</a>
          </p>
          <h2>Sign In to Relax</h2>
          <div class="inner-column">
            <div>
              <label for="username">Username or Email Address</label>
              <input type="text" name="username&email" id="username&email" />
            </div>

            <div>
              <label for="password">Password</label>
              <input type="password" name="password" id="password" />
            </div>
          </div>

          <button type="submit">Sign In</button>
        </form>
      </div>

      <div class="copyright-info">
        <p>ⓒ 2022 noberto,Inc. All rights reserved</p>
      </div>
    </div>
  </body>
</html>
