<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relax</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1 id="brand">Relax</h1>
      </nav>
    </header>

    <div class="main-container">
      <div class="">
        <form action="/sign-up" class="form-control" method="post">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" />
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email" />
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
          <button type="submit">Login</button>
        </form>
      </div>

      <div class="copyright-info">
        <p>ⓒ 2022 noberto,Inc. All rights reserved</p>
      </div>
    </div>
  </body>
</html>
