<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relax</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1 id="brand">Relax</h1>
        <ul class="links">
          <li><a href="/records">My Records</a></li>
          <li><a href="/landing">Logout</a></li>
        </ul>
      </nav>
    </header>

    <div class="main-container">
      <div class="container-1">
        <button class="pain emot" onclick="location.href='/pain'">PAIN</button>
        <img src="/images/question-mark.png" alt="question" class="question" />
        <button class="joy emot" onclick="location.href='/joy'">JOY</button>
      </div>

      <div class="copyright-info">
        <p>ⓒ 2022 noberto,Inc. All rights reserved</p>
      </div>
    </div>
  </body>
</html>
