<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Records</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1 id="brand">Personal Records</h1>
        <div class="links">
          <a href="/">Home</a>
        </div>
      </nav>
    </header>

    <div class="main-container">
      <div class="container-1">
        <div class="records pain">
          <div><h1>Pains</h1></div>
          <div>List of pains...</div>

          <button class="add-pain" onclick="location.href='/pain'">Add</button>
        </div>

        <div class="records joy">
          <div><h1>Joys</h1></div>
          <div>List of joys...</div>
          <button class="add-joy" onclick="location.href='/joy'">Add</button>
        </div>
      </div>

      <div class="copyright-info">
        <p>ⓒ 2022 noberto,Inc. All rights reserved</p>
      </div>
    </div>
  </body>
</html>
