<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relax</title>
    <link rel="stylesheet" href="../public/css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1 id="brand">Relax</h1>
        <ul class="links">
          <li><a href="./records.html">My Records</a></li>
          <li><a href="./home.html">Sign Out</a></li>
        </ul>
      </nav>
    </header>

    <div class="main-container">
      <div class="container-1">
        <button class="pain emot" onclick="location.href='./pain.html'">
          PAIN
        </button>
        <img
          src="../public/images/question-mark.png"
          alt="question"
          class="question"
        />
        <button class="joy emot" onclick="location.href='./joy.html'">
          JOY
        </button>
      </div>

      <div class="copyright-info">
        <p>ⓒ 2022 noberto,Inc. All rights reserved</p>
      </div>
    </div>
  </body>
</html>
