<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relax:Pain</title>
    <link rel="stylesheet" href="../public/css/styles.css" />
    <link rel="stylesheet" href="../public/css/form.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1 id="brand">Pain</h1>
        <div class="top-nav-info">
          <div class="date-time"><em>Date...</em></div>
          <q
            ><em
              >Breath, buddy. This is just a chapter, not your whole story.</em
            ></q
          >
        </div>
      </nav>
    </header>

    <main>
      <div>
        <form action="/records/pain" method="post" class="form-control">
          <input type="text" name="title" placeholder="What's the matter?" />
          <textarea
            name="description"
            cols="30"
            rows="10"
            placeholder="Tell me more..."
          >
          </textarea>
          <div class="form-buttons">
            <button type="submit">Keep</button>
            <button type="reset">Discard</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
