<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Records</title>
    <link rel="stylesheet" href="../public/css/styles.css" />
    <link rel="stylesheet" href="../public/css/form.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1 id="brand">Relax</h1>
        <ul class="links">
          <li><a href="./main.html">Home</a></li>
        </ul>
      </nav>
    </header>

    <div class="main-container">
      <div class="container-1 records-container-1">
        <div class="records pain">
          <div><h1>Pains</h1></div>
          <form>
            <h3>This is a pain</h3>
            <p>This is the pain description</p>
          </form>

          <form>
            <h3>This is a pain</h3>
            <p>This is the pain description</p>
          </form>

          <button class="add-pain" onclick="location.href='./pain.html'">
            Add
          </button>
        </div>

        <div class="records joy">
          <div><h1>Joys</h1></div>
          <div>
            <h3>This is a pain</h3>
            <p>This is the pain description</p>
          </div>
          <button class="add-joy" onclick="location.href='./joy.html'">
            Add
          </button>
        </div>
      </div>

      <div class="copyright-info">
        <p>ⓒ 2022 noberto,Inc. All rights reserved</p>
      </div>
    </div>
  </body>
</html>
