<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/sample.css" />
    <title>Trial</title>
  </head>
  <body>
    <div class="main-container">
      <div class="fst-child">
        <h1>First Child</h1>
        <p>
          Lorem ipsum dolor sit,<br> amet consectetur adipisicing elit. Expedita,
          ducimus ea harum <br>consectetur earum accusamus illo incidunt sed hic
          tempore aut,<br> necessitatibus nihil est atque maiores autem vel enim
          iure.
        </p>
      </div>
      <div class="sec-child">
        <h1>Second Child</h1>
      </div>
    </div>
  </body>
</html>
